In [224]:
import pandas as pd

In [226]:
df = pd.read_csv("adult.data.csv")
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [231]:
count_race = df['race'].value_counts()
count_race

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

### What is the average age of men?

In [234]:
men = df[df['sex'] == 'Male']
round(men['age'].mean(), 1)

39.4

### What is the percentage of people who have a Bachelor's degree?

In [237]:
bachelor_count = len(df[df['education'] == 'Bachelors'])

percent_bachelor = bachelor_count / len(df) * 100
print(round(percent_bachelor, 1), '%')

16.4 %

### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [240]:
adv_edu = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
high_salary_adv = adv_edu[adv_edu['salary']=='>50K']

round((len(high_salary_adv)/len(adv_edu) * 100), 1)

46.5

### What percentage of people without advanced education make more than 50K?

In [243]:
non_adv_edu = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

high_salary_non_adv = non_adv_edu[non_adv_edu['salary']=='>50K']
round((len(high_salary_non_adv)/len(non_adv_edu) * 100), 1)

17.4

### What is the minimum number of hours a person works per week?

In [246]:
df['hours-per-week'].min()

1

### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [249]:
min_hour = df[df['hours-per-week'] == df['hours-per-week'].min()]

num_min_hour = len(min_hour[min_hour['salary'] == '>50K'])
num_min_hour/len(min_hour) * 100

10.0

### What country has the highest percentage of people that earn >50K and what is that percentage?

In [252]:
country = df.groupby('native-country')['salary'].value_counts(normalize=True).unstack()
percent = country['>50K'] * 100
print(percent.idxmax())
print(round(percent.max(), 1), '%')

Iran
41.9 %

### Identify the most popular occupation for those who earn >50K in India.

In [255]:
income = df[(df['native-country']=='India') & (df['salary']=='>50K')]
# print(income['occupation'].value_counts())
# print('')
income['occupation'].value_counts().idxmax()

'Prof-specialty'